<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->
<head>

    <meta charset="utf-8" />
    <title>优志愿 学业规划平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicons/favicon.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/oneui.css" />
    <link rel="stylesheet" href="/css/toB.min.css" />
</head>
<body>

    <script src="/libs/core/bootstrap.min.js"></script>
    <script src="/libs/core/jquery.slimscroll.min.js"></script>
    <script src="/libs/core/jquery.scrollLock.min.js"></script>
    <script src="/libs/core/jquery.appear.min.js"></script>
    <script src="/libs/core/jquery.countTo.min.js"></script>
    <script src="/libs/core/jquery.placeholder.min.js"></script>
    <script src="/libs/core/js.cookie.min.js"></script>
    <script src="/libs/oneui.js"></script>

</body>
</html>
