<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>UNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicons/favicon.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="/css/unote.min.css" />
    <link rel="stylesheet" href="/css/treeview.css" />

</head>
<body>


    <div class="top-wrap pages">
        <div class="unote-container top ">
            <a href="list.html" class="logo"></a>
            <div class="h4 font-w600 title">UNote</div>
            <div class="pull-right text-right">
                <!--<a href="login.html" class="btn btn-primary btn-login">Sign In</a>-->
                <a href="login.html" class="btn btn-default btn-login">Sign Out</a>
                <a href="publish.html" class="btn btn-primary btn-login">Publish</a>
            </div>
        </div>
    </div>


    <div class="unote-container publish">

        <div class="left">

            <a class="mine" href="###">我的笔记 / My notes</a>
            <div class="left-nav">
                <h5><span><a href="catetory.html">【分类管理】</a></span> Categories </h5>
                <ul>
                    <li><a href="###"><i class="fa fa-code"></i>.Net</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="si si-energy"></i>javascript</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="si si-vector"></i>Node js</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="fa fa-server"></i>Linux</a></li>
                    <li><a href="###"><i class="fa fa-gears"></i>Windows</a></li>
                </ul>
            </div>

            <div class="tips">
                <h5>Tips</h5>
                <ul>
                    <li><a href="###">脚本</a></li>
                    <li><a href="###">框架</a></li>
                    <li><a href="###">前端</a></li>
                    <li><a href="###">特效</a></li>
                    <li><a href="###">脚本</a></li>
                    <li><a href="###">框架</a></li>
                    <li><a href="###">前端</a></li>
                    <li><a href="###">特效</a></li>
                </ul>
            </div>

        </div>

        <div class="right ">
            <div class="cate">
                <div class="tree tree-plus-minus">
                    <div class="tree-folder">
                                <div class="tree-folder-header">
                                    <div class="tree-folder-name">
                                        控制台 Console
                                        <span>
                                            <button data-toggle="tooltip" title="添加 2 级权限" class="btn btn-default btn-sm" onclick="vm.modalCreateOpen(1,1)"><i class="fa fa-plus"></i></button>
                                            <button data-toggle="tooltip" title="编辑权限" class="btn btn-default btn-sm" onclick="vm.modalUpdateOpen(1,1)"><i class="fa fa-edit"></i></button>
                                            <button data-toggle="tooltip" title="删除权限" class="btn btn-default btn-sm" onclick="vm.deletePermission(1,'控制台 Console')"><i class="fa fa-trash-o danger"></i></button>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="tree-folder-content">
                                    <div class="tree-folder">
                                        <div class="tree-folder-header">
                                            <div class="tree-folder-name">
                                                权限
                                                <span>
                                                    <button data-toggle="tooltip" title="添加 3 级权限" class="btn btn-default btn-sm" onclick="vm.modalCreateOpen(2,5)"><i class="fa fa-plus"></i></button>
                                                    <button data-toggle="tooltip" title="编辑权限" class="btn btn-default btn-sm" onclick="vm.modalUpdateOpen(2,5)"><i class="fa fa-edit"></i></button>
                                                    <button data-toggle="tooltip" title="删除权限" class="btn btn-default btn-sm" onclick="vm.deletePermission(5,'权限')"><i class="fa fa-trash-o danger"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="tree-folder-content">
                                    <div class="tree-folder">
                                        <div class="tree-folder-header">
                                            <div class="tree-folder-name">
                                                角色
                                                <span>
                                                    <button data-toggle="tooltip" title="添加 3 级权限" class="btn btn-default btn-sm" onclick="vm.modalCreateOpen(2,6)"><i class="fa fa-plus"></i></button>
                                                    <button data-toggle="tooltip" title="编辑权限" class="btn btn-default btn-sm" onclick="vm.modalUpdateOpen(2,6)"><i class="fa fa-edit"></i></button>
                                                    <button data-toggle="tooltip" title="删除权限" class="btn btn-default btn-sm" onclick="vm.deletePermission(6,'角色')"><i class="fa fa-trash-o danger"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="tree-folder-content">
                                    <div class="tree-folder">
                                        <div class="tree-folder-header">
                                            <div class="tree-folder-name">
                                                管理员
                                                <span>
                                                    <button data-toggle="tooltip" title="添加 3 级权限" class="btn btn-default btn-sm" onclick="vm.modalCreateOpen(2,7)"><i class="fa fa-plus"></i></button>
                                                    <button data-toggle="tooltip" title="编辑权限" class="btn btn-default btn-sm" onclick="vm.modalUpdateOpen(2,7)"><i class="fa fa-edit"></i></button>
                                                    <button data-toggle="tooltip" title="删除权限" class="btn btn-default btn-sm" onclick="vm.deletePermission(7,'管理员')"><i class="fa fa-trash-o danger"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>

                </div>
            </div>
        </div>

    </div>





<div class="modal fade" id="modalLevel1Update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-edit"></i>编辑 1 级权限</h3>
                    </div>

                    <div class="block-content">
                        <div class="form-horizontal push-10-t">
                            <div class="alert alert-danger hide">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtName">
                                        <label for="txtName">权限名称</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtIcon">
                                        <label for="txtIcon">Icon</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/OneUI/base_ui_icons.html" target="_blank" class="btn btn-default ">查看Icons</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtUrl">
                                        <label for="txtUrl">链接地址</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtOrder">
                                        <label for="txtOrder">排序</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-primary" type="button" onclick="vm.modalLevel1UpdateCommit()">提交</button>
                    <button class="btn  btn-default" type="button" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Level 1 -->

    <!-- Level 2 -->
    <div class="modal fade" id="modalLevel2Create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-plus"></i>添加 2 级权限</h3>
                    </div>
                    <div class="block-content">
                        <div class="form-horizontal push-10-t">
                            <div class="alert alert-danger hide">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material floating">
                                        <input class="form-control" type="text" name="txtParentName" value="无" disabled="disabled">
                                        <label for="txtName">上级权限</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material ">
                                        <input class="form-control" type="text" name="txtName">
                                        <label for="txtName">权限名称</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtIcon">
                                        <label for="txtIcon">Icon</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/OneUI/base_ui_icons.html" target="_blank" class="btn btn-default ">查看Icons</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtUrl">
                                        <label for="txtUrl">链接地址</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtOrder">
                                        <label for="txtOrder">排序</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-primary" type="button" onclick="vm.modalLevel2CreateCommit()">提交</button>
                    <button class="btn  btn-default" type="button" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLevel2Update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-edit"></i>编辑 2 级权限</h3>
                    </div>

                    <div class="block-content">
                        <div class="form-horizontal push-10-t">
                            <div class="alert alert-danger hide">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material floating">
                                        <input class="form-control" type="text" name="txtParentName" value="无" disabled="disabled">
                                        <label for="txtName">上级权限</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtName">
                                        <label for="txtName">权限名称</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtIcon">
                                        <label for="txtIcon">Icon</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/OneUI/base_ui_icons.html" target="_blank" class="btn btn-default ">查看Icons</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtUrl">
                                        <label for="txtUrl">链接地址</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtOrder">
                                        <label for="txtOrder">排序</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-primary" type="button" onclick="vm.modalLevel2UpdateCommit()">提交</button>
                    <button class="btn  btn-default" type="button" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Level 2 -->

    <!-- Level 3 -->
    <div class="modal fade" id="modalLevel3Create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-plus"></i>添加 3 级权限</h3>
                    </div>
                    <div class="block-content">
                        <div class="form-horizontal push-10-t">
                            <div class="alert alert-danger hide">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material floating">
                                        <input class="form-control" type="text" name="txtParentName" value="无" disabled="disabled">
                                        <label for="txtName">上级权限</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material ">
                                        <input class="form-control" type="text" name="txtName">
                                        <label for="txtName">权限名称</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtIcon">
                                        <label for="txtIcon">Icon</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/OneUI/base_ui_icons.html" target="_blank" class="btn btn-default ">查看Icons</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtUrl">
                                        <label for="txtUrl">链接地址</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtOrder">
                                        <label for="txtOrder">排序</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-primary" type="button" onclick="vm.modalLevel3CreateCommit()">提交</button>
                    <button class="btn  btn-default" type="button" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLevel3Update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-edit"></i>编辑 3 级权限</h3>
                    </div>

                    <div class="block-content">
                        <div class="form-horizontal push-10-t">
                            <div class="alert alert-danger hide">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material floating">
                                        <input class="form-control" type="text" name="txtParentName" value="无" disabled="disabled">
                                        <label for="txtName">上级权限</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtName">
                                        <label for="txtName">权限名称</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtIcon">
                                        <label for="txtIcon">Icon</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/OneUI/base_ui_icons.html" target="_blank" class="btn btn-default ">查看Icons</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtUrl">
                                        <label for="txtUrl">链接地址</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material">
                                        <input class="form-control" type="text" name="txtOrder">
                                        <label for="txtOrder">排序</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn  btn-primary" type="button" onclick="vm.modalLevel3UpdateCommit()">提交</button>
                    <button class="btn  btn-default" type="button" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Level 3 -->
    <!-- END Modal -->

    <script src="/libs/core/jquery.min.js"></script>
    <script src="/libs/core/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/libs//plugins/bootstrap-treeview/bootstrap-treeview.min.css" />
    <script src="/libs/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script>
        $(function () {

        })

    </script>

</body>
</html>

