<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>UNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicons/favicon.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="/css/unote.min.css" />

</head>
<body>


    <div class="top-wrap">
        <div class="unote-container top ">
            <a href="###" class="logo"></a>
            <div class="h4 font-w600 title">UNote</div>
            <div class="pull-right text-right"><a href="###" class="btn btn-primary" style="padding: 4px 8px;">Sign In</a></div>
        </div>
    </div>

    <div class="search-box">
        <form action="list.html">
            <div class="pull-left relative">
                <i class="si si-magnifier"></i>
                <input type="text" placeholder="keywords." />
            </div>
            <div class="pull-right"><button type="submit" class="btn btn-primary">搜 索</button></div>
        </form>
    </div>



</body>
</html>
