<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>UNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicons/favicon.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="/css/unote.min.css" />

</head>
<body>


    <div class="top-wrap pages">
        <div class="unote-container top ">
            <a href="###" class="logo"></a>
            <div class="h4 font-w600 title">UNote</div>
            <div class="pull-right text-right">
                <!--<a href="login.html" class="btn btn-primary btn-login">Sign In</a>-->
                <a href="###" class="btn btn-default btn-login">Sign Out</a>
                <a href="publish.html" class="btn btn-primary btn-login">Publish</a>
            </div>
        </div>
    </div>

    <div class="page-search-wrap">
        <div class="unote-container">
            <div class="title">Search</div>
            <div class="form-horizontal search-bar">
                <input type="text" class="input form-control" />
                <button class="btn btn-default go" type="button"><i class="si si-magnifier"></i></button>
            </div>
        </div>
    </div>

    <div class="unote-container">

        <div class="left">

            <a class="mine" href="###">我的笔记 / My notes</a>
            <div class="left-nav">
                <h5>Categories </h5>
                <ul>
                    <li><a href="###"><i class="fa fa-code"></i>.Net</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="si si-energy"></i>javascript</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="si si-vector"></i>Node js</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="fa fa-server"></i>Linux</a></li>
                    <li><a href="###"><i class="fa fa-gears"></i>Windows</a></li>
                </ul>
            </div>

            <div class="tips">
                <h5>Tips</h5>
                <ul>
                    <li><a href="###">脚本</a></li>
                    <li><a href="###">框架</a></li>
                    <li><a href="###">前端</a></li>
                    <li><a href="###">特效</a></li>
                    <li><a href="###">脚本</a></li>
                    <li><a href="###">框架</a></li>
                    <li><a href="###">前端</a></li>
                    <li><a href="###">特效</a></li>
                </ul>
            </div>

        </div>

        <div class="right">
            <h2>We’ve found 14,496 repository results</h2>
            <div class="list">
                <ul>
                    <li>
                        <h3><span><b>Javasciprt</b> / By Nocoah</span><a href="detail.html">danielgindi/Charts</a><label class="label label-default">框架</label><label class="label label-default">特效</label></h3>
                        <p class="des">Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.</p>
                        <p class="date">2016-09-12</p>
                        <div class="edit-way"><a href="publish.html" class="btn btn-primary">修改</a></div>
                    </li>
                    <li>
                        <h3><span><b>Javasciprt</b> / By Nocoah</span><a href="detail.html">vaadin/charts</a></h3>
                        <p class="des">Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.</p>
                        <p class="date">2016-09-12</p>
                        <div class="edit-way"><a href="publish.html" class="btn btn-primary">修改</a></div>

                    </li>
                    <li>
                        <h3><span><b>Javasciprt</b> / By Nocoah</span><a href="detail.html">helm/charts</a></h3>
                        <p class="des">Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.</p>
                        <p class="date">2016-09-12</p>
                        <div class="edit-way"><a href="publish.html" class="btn btn-primary">修改</a></div>
                    </li>
                    <li>
                        <h3><span><b>Javasciprt</b> / By Nocoah</span><a href="detail.html">kubernetes/charts</a></h3>
                        <p class="des">Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.</p>
                        <p class="date">2016-09-12</p>
                        <div class="edit-way"><a href="publish.html" class="btn btn-primary">修改</a></div>
                    </li>
                    <li>
                        <h3><span><b>Javasciprt</b> / By Nocoah</span><a href="detail.html">mozilla/charts</a></h3>
                        <p class="des">Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.</p>
                        <p class="date">2016-09-12</p>
                    </li>
                    <li>
                        <h3><span><b>Javasciprt</b> / By Nocoah</span><a href="###">danielgindi/Charts</a></h3>
                        <p class="des">Beautiful charts for iOS/tvOS/OSX! The Apple side of the crossplatform MPAndroidChart.</p>
                        <p class="date">2016-09-12</p>
                    </li>
                </ul>
            </div>
            <div class="pagination">pagination</div>
        </div>

    </div>




    <script src="/libs/core/jquery.min.js"></script>
    <script src="/libs/core/bootstrap.min.js"></script>

</body>
</html>
