<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>UNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicons/favicon.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="/css/unote.min.css" />

</head>
<body>


    <div class="top-wrap pages">
        <div class="unote-container top ">
            <a href="list.html" class="logo"></a>
            <div class="h4 font-w600 title">UNote</div>
            <div class="pull-right text-right">
                <!--<a href="login.html" class="btn btn-primary btn-login">Sign In</a>-->
                <a href="login.html" class="btn btn-default btn-login">Sign Out</a>
                <a href="publish.html" class="btn btn-primary btn-login">Publish</a>
            </div>
        </div>
    </div>


    <div class="unote-container publish">

        <div class="left">

            <a class="mine" href="###">我的笔记 / My notes</a>
            <div class="left-nav">
                <h5><span><a href="catetory.html">【分类管理】</a></span> Categories </h5>
                <ul>
                    <li><a href="###"><i class="fa fa-code"></i>.Net</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="si si-energy"></i>javascript</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="si si-vector"></i>Node js</a> <span class="badge">3</span></li>
                    <li><a href="###"><i class="fa fa-server"></i>Linux</a></li>
                    <li><a href="###"><i class="fa fa-gears"></i>Windows</a></li>
                </ul>
            </div>

            <div class="tips">
                <h5>Tips</h5>
                <ul>
                    <li><a href="###">脚本</a></li>
                    <li><a href="###">框架</a></li>
                    <li><a href="###">前端</a></li>
                    <li><a href="###">特效</a></li>
                    <li><a href="###">脚本</a></li>
                    <li><a href="###">框架</a></li>
                    <li><a href="###">前端</a></li>
                    <li><a href="###">特效</a></li>
                </ul>
            </div>

        </div>

        <div class="right ">

            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="名称" />
                </div>
                <div class="col-xs-6">
                    <select class="form-control">
                        <option>.net</option>
                        <option>javascript</option>
                        <option>windows2012</option>
                        <option>windows2008</option>
                        <option>IIS</option>
                    </select>
                </div>
            </div>


            <div class="content-detail ">

                <textarea></textarea>

            </div>

            <input type="text" class="form-control" />

            <div class="label-tips">
                <span>选择标签</span>
                <a href="###">框架</a>
                <a href="###">框架</a>
                <a href="###">框架</a>
                <a href="###">框架</a>
                <a href="###">框架</a>
                <a href="###">框架</a>
                <a href="###">框架</a>
                <a href="###">框架</a>
            </div>



            <div class="text-right">
                <button class="btn btn-primary">发布</button>
            </div>

        </div>

    </div>




    <script src="/libs/core/jquery.min.js"></script>
    <script src="/libs/core/bootstrap.min.js"></script>




</body>
</html>

