src/.vs/*
src/UNote.Configuration/bin/*
src/UNote.Configuration/obj/*
src/UNote.Console/bin/*
src/UNote.Console/obj/*
src/UNote.Core/bin/*
src/UNote.Core/obj/*
src/UNote.EntityFramework/bin/*
src/UNote.EntityFramework/obj/*
src/UNote.Services/bin/*
src/UNote.Services/obj/*
src/UNote.FE/bin/*
src/UNote.FE/obj/*
src/UNote.FE/node_modules/*
src/UNote.Web/_temp/*
src/UNote.Web/App_Data/*
src/UNote.Web/bin/*
src/UNote.Web/obj/*
