 /*::-webkit-scrollbar{width:0px;}*/
/*----------- 通用 ----------------*/
.label {
    padding:4px 8px 4px 8px !important;
}


/* 面包屑*/
.board-task-dialog .btn {
    font-weight:normal;
}
.page-header {
    padding-bottom: 35px;
}
    .page-header .dropdown-menu {
        width:50px !important;
        padding:10px 0 10px 0;
    }
        .page-header .dropdown-menu a {
        }
        

.content {
    background: #fff;
    padding: 0;
}


/*-----------end 通用 */

.board-list {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 25px;
    padding-right: 8px;
    padding-left: 8px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height:auto;
    
    /*height: 810px; test*/
}

.board {
    display: inline-block;
    width: calc(85vw - 15px);
    height: 100%;
    padding-left: 8px;
    white-space: normal;
    vertical-align: top;
    box-sizing: border-box;
    width: 400px;
    height:auto;
    /*overflow:hidden;*/
    /*height: 760px; test*/
}

.board-inner {
    position: relative;
    font-size: 14px;
    border-top:2px solid #E2E4E6;
    background:#E2E4E6;
    border-radius:3px;
}

.board .board-header {
    position: relative;
    padding:0 10px 0 10px;
}
    .board .board-header:hover {
        cursor:pointer;
    }

.board-title {
    margin: 0;
    padding: 12px 2px;
    font-size: 1em;
    display: flex;
    align-items: center;
}
/*每一列*/
.board-list-component {
    overflow:hidden;
    padding:0;
    margin:0;
}
    .board-list-component .loading {
        margin-left:40% !important;
        margin-top:20px !important;
    }

.board-title-text {
    margin-right: auto;
    color:#333;
    font-size:14px;
    font-weight:bold;
}

.board-delete {
    margin-right: 5px;
    padding: 0;
    color: #bbb;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.board-count-badge {
    display: inline-flex;
    align-items: stretch;
    height: 24px;
}

.board-count-badge-button {
    display: flex;
    align-items: center;
    line-height: 1;
    color:#777;
    background:none;
    border:none;
}
    .board-count-badge-button:hover {
        background:#aaa;
        color:#333;
    }

    .board-count-badge-button.no-right-border {
        border-right: 0;
    }

.board-content-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 99%;
    margin-left: 0.5%;
    height:auto;
    /*height: 760px; test*/
    word-break: break-all;
}


    /*列表项*/

    .board-content-list>li>.block {
        padding:0;
        margin: 0;
        margin-bottom: 10px;
        margin-left:10px;
        margin-right:10px;
        border:0;
        background:#fff;
        padding:5px 10px;
        border-radius:3px;
        border-bottom: 1px solid #ccc;
    }
.board-content-list>li .block-content {
    font-size:12px;
    padding:0;
}

.board-content-list .block a {
    color:#555;
    font-size:13px;
}
        .board-content-list .block:hover {
            cursor:pointer;
            background:#EDEFF0;
        }
.board-content-list .block.over {
    background:#fefefe;
    border-bottom:1px dashed #f9f9f9;
    border-top:0;
}
.board-content-list .block.over a{
    color:#aaa;
    text-decoration:line-through;
}

/*列表项 标签*/
.board-content-list .block-tags ul {
    list-style:none;
    height:auto;
    display:block;
    padding:0;
    padding-left:1px;
    margin:0;
    clear:both;
}
    .board-content-list .block-tags ul li {
        float:left;
        margin-right:10px;
        margin-bottom:5px;
    }
    .board-content-list .block-tags ul li label{
        padding-top:5px;
    }

.board-content-list .block-tags i {
    color:#aaa;
}
.board-content-list .block-tags .time {
    color:#aaa;
}
/*创建新列*/
.board-new-column {
    height:auto;
    border-bottom:0;
}
.board-new-column>button{
    text-align:left;
    font-weight:normal;
    padding:15px 0 15px 10px;
}
    .board-new-column .card {
        background:#fff;
        padding:5px;
    }
        .board-new-column .card label {
            font-size:14px;
            font-weight:normal;
        }
        .board-new-column .card input {
            margin-top:5px;
            margin-bottom:10px;
        }
        .board-new-column .card button {
            font-weight:normal;
        }
/*board-new-form*/
.board-new-form {
    z-index: 4;
    margin: 0px 0 0 2%;
    position: absolute;
    width: 96%;
    border: 1px solid #ddd;
}

    .board-new-form .card {
        position: relative;
        padding: 11px 10px 11px 16px;
        background: #fff;
        box-shadow: 0 1px 2px rgba(186,186,186,0.5);
        list-style: none;
    }

        .board-new-form .card label {
            font-weight: normal;
            font-size: 14px;
        }

    .board-new-form input {
        margin: 5px 0 10px 0;
    }

    .board-new-form button {
        font-weight: normal;
        font-size: 12px;
    }

/*
    ------------------任务板弹框详情-------------------------
*/
.board-task-dialog .modal-dialog {
    padding-bottom:10px;
    border:0;
    padding:20px;
    border-radius:3px;
    margin-top:10px;
    background:#EDEFF0;
    border-bottom:1px solid #ccc;
}
.board-task-dialog .block {
    background:#EDEFF0;
}
.board-task-dialog .block-line {
    padding-bottom:30px;
}

    .board-task-dialog .block-header {
        border-bottom:1px solid #ddd !important;
        padding-left:0;
        padding-right:0;
        padding-top:0;
        width:100%;
    }
        .board-task-dialog .block-header .close {
            color:#333333 !important;
        }

    /* 标题 */
.board-task-dialog .block-title {
    
}
.board-task-dialog .block-title .choose {
    height:30px;
    width:22px;
    float:left;
}
.board-task-dialog .block-title .title {
    float:left;
    margin-top:7px;
    margin-left:10px;
    width:750px;
    overflow:hidden;
}
    .board-task-dialog .block-title .title a {
        color:#333333;
        font-size:15px;
    }
        .board-task-dialog .block-title .title a:hover {
            background:#ccc;
            
        }
    .board-task-dialog .block-title .title input {
        width:600px;
        display:inline-block;
        font-weight:normal;
        font-size:15px;
    }

        .board-task-dialog .block-title .title span {
            font-weight:normal;
            color:#666;
        }

/* body */
.board-task-dialog .body-text,.board-task-dialog .body-editor {
    word-wrap:break-word;
    padding-left:0;
    padding-right:0;
}
    .board-task-dialog .body-text:hover {
        cursor:pointer;
    }
.board-task-dialog .block-content {
    padding-top:28px;
}
/* 动态 */
.board-task-dialog .block-notice ul {
    list-style:none;
}
.board-task-dialog .block-notice li {
    text-align:right;
    color:#666;
    font-size:12px;
}

/*分配标签*/
.board-task-dialog .tags {
    padding-left:0;
}
.board-task-dialog .tags .title {
    float:left;
    width:100px;
    color:#333333;
    font-size:14px;
    font-weight:bold;
}
    .board-task-dialog .tags .title i{
        color:#aaa;
    }
.board-task-dialog .tags .contents {
    width:700px;
    float:left;
    text-align:left;
}
.board-task-dialog .tags .contents ul {
    list-style:none;
    float:left;
    padding:0;
}
.board-task-dialog .tags .contents li {
    float:left;
    margin-right:5px;
}
.board-task-dialog .tags .contents label:hover {
    cursor:pointer;
}

.board-task-dialog .tags .contents a {
    float:left;
    font-size:12px;
    display:inline-block;
    margin:1px 0 0 5px;
    padding:3px 8px 1px 8px;
    color:#666;
    border-radius:3px;
}
    .board-task-dialog .tags .contents a:hover {
       background:#ddd;
    }

/* 表单 - 设置标签 */
.form-choosetags {
    width:200px;
    height:auto;
    position:relative;
    padding-bottom:10px;
    background:#fff;
    padding:8px 8px 5px 8px;
    position:absolute;
    left:105px;
    border-radius:3px;
    border-bottom:1px solid #ccc;
}
    .form-choosetags .title {
        width:100% !important;
        text-align:center;
        padding:3px 0 10px 0;
        color:#333;
    }
        .form-choosetags .title a {
            float:right;
            color:#ccc !important;
            padding-left:5px;
            padding-right:5px;
        }
            .form-choosetags .title a:hover {
                background:#ddd;
            }
            .form-choosetags .title a:hover i{
                color:#fff !important;
            }
            .form-choosetags .title a i {
                color:#ccc !important;
            }
    .form-choosetags ul {
        list-style:none;
        padding:10px 0 0 0;
    }
        .form-choosetags ul li {
            margin-bottom:10px;
            width:94%;
            margin-left:3%;
        }
        .form-choosetags ul a {
            display:block;
            padding:5px 5px;
            color:#333;
            text-align:center;
            position:relative;
            background:#ddd;
            border-radius:3px;
        }
            .form-choosetags ul a:hover {
            }
            .form-choosetags ul span.selected {
                background:#fff;
                width:10px;
                height:10px;
                border-radius:15px;
                display:block;
                position:absolute;
                top:10px;
                left:10px;
            }


 /*参与者*/

.board-task-dialog .modal-footer {
    padding-left:0;
    padding-right:0;
}

/*--------------------标签设置弹框-------------------------*/
.board-tagsettings-dialog {

}
    .board-tagsettings-dialog .btn-default {
        font-weight:normal;
    }
    .board-tagsettings-dialog .new-form {
        position:absolute;
        top:100px;
        left:20px;
        padding-bottom:20px;
        border:1px solid #ddd;
        border-bottom:3px solid #ddd;
        border-right:3px solid #ddd;
    }